  {{#if value.children}}
    <header class="subfolder">
      <h2>{{value.folder}}</h2>
    </header>
    {{#each cvalue in value.children}}
      {{project-thumbnail value=cvalue folder=value.folder project_id=project_id open='open'}}
    {{/each}}  
  {{else}}
    <a {{bind-attr href='bigUrl'}} {{action 'open' bigUrl}} class="thumb">
      <span class="inner-thumb">
        <img {{bind-attr src=thumbUrl}}>
      </span>
    </a>
  {{/if}}
