<div {{bind-attr class="freeze"}}>
  <header class='title'>
    {{#link-to 'projects' classNames='link-home'}}<img src="assets/y.svg">{{/link-to}}
    <a {{bind-attr class=":button" href="ziplink"}}><strong>Download project</strong> (.zip)</a>
    <h1>{{model.title}}</h1>
  </header>
  
  <section class="gallery">
  {{#each file in model.files}}
    {{#each value in file.children}}
      {{project-thumbnail value=value folder=file.folder project_id=model.id open='open'}}
    {{/each}}  
  {{/each}}
  </section>
  
  <section {{bind-attr class=":overlay hide"}} id="overlay" {{action 'close'}}>
    <div class="overlay-content">
      <div class="overlay-wrap">
        <img id="overlay-img" {{bind-attr src=img}}>
      </div>
    </div>
  </section>
</div>